
  <!-- Footer -->
<footer class="page-footer sticky-bottom font-small blue pt-4" style="margin-top: 100px; text-align: center;">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row -->
    <div class="row justify-content-evenly">
      
      

      
      <!-- Grid column -->
      <div class="col align-self-start">

        <!-- Links -->
        <h5 style="color: white; font-family: Courier;" class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/group">About Us</a>
          </li>
          <li>
            <a href="/mypage">My Surveys</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col align-self-end">

        

      </div>
      <!-- Grid column -->
      

    
    <!-- Grid row -->
    
  <div class="footer-copyright text-center py-3"><p style="color: rgb(68, 87, 174);" >&copy; Copyright 2022. All Rights reserved.</p></div>
  
  </div>
  <!-- Footer Links -->

  


</footer>
<!-- Footer -->
  