



    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <img src="/Assets/images/RK.jpeg" height="120px"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
       
        
      
            <a style="color: #000000; font-size: 1.5vw ;" class="nav-link popup2" href="/home">Home &nbsp;  </a>
          </li>
       
  
               
            
              <a style="color: #000000; font-size: 1.5vw ; " class="nav-link popup2" href="/group">  AboutUs &nbsp; </a>
            </li>
           
  
             
                      <a style="color: #000000;font-size: 1.5vw ; " class="nav-link popup2" href="/survey-list" >Surveys </a>
                  </li>
           
                        
                  
                  
                 
                  <% if(typeof userId=='string' && userId) {%>
                  <% if (title == "My Surveys"){ %>
                      <li class="nav-item-s">
                        <a class="nav-link popup2" style="color: #000000; font-size: 1.5vw ; " href="/mypage"><i class="fas fa-user"></i> My Surveys</a>
                      </li>
                    <% } else  { %>
                    <li class="nav-item-s">
                        <a class="nav-link popup2" style="color: #000000; font-size: 1.5vw ; " href="/mypage"><i class="fas fa-user"></i> My Surveys  </a>
                      </li>
                    <% }%>
                      <li class="nav-item-s">
                        <a class="nav-link welcome" style="color: #000000; font-size: 1.5vw ; "> Welcome, <%= userId %></a>
                      </li>
                      <li class="nav-item-s">        
                        <a class="nav-link popup2" style="color: #000000; font-size: 1.5vw ; " href="/logout"> Logout<i class="fas fa-lg fa-sign-out-alt"></i></a>                      
                      </li>
                      
                  <% } else {%>
                      <% if (title == "Login"){ %>        
                        <li class="nav-item-s">
                          <a style="color: #000000; font-size: 1.5vw ; " class="nav-link popup2" href="/login">
                             Login <i class="fas fa-lg fa-sign-in-alt"></i></a>
                        </li>
                      <% } else  { %>
                        <li class="nav-item-s">        
                          <a class="nav-link popup2" style="color: #000000; font-size: 1.5vw ;  " href="/login">
                          Login <i class="fas fa-lg fa-sign-in-alt"></i></a>
                        </li>
                      <% } %>
                      
                      
                  <% } %>
                  
                </ul>
                </div>
      
    </div>
  </nav>
  