
  <!--
  
  <div class="footer">
    <p>&copy; Copyright 2021. All Rights reserved. Developed by <a href="/">Group 6</a></p>
  </div>

  -->

  <!-- Footer -->

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <h4 class="navbar-text" style="color: green">COMP229F22 &copy; 2022 All Rights Reserved
    </div>
  </nav>
  

</footer>
<!-- Footer -->
  