<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class='container-fluid'>
  <div class="row outerDiv">
    <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block">
    </div>
    <div class="col">
      <main class="container">
        <div style="text-align:center;">

          <div class="container">
            <h1 class="fill fw-bold" style="text-align:center; color: rgb(0, 0, 0);">Team Members </h1>
            <div class="groupRow">
              <div class="column">
               
                <p><br><b><b>Adekunle Oduneye</b><br></p>
              </div>
              <div class="column">
             
                <p><br><b>Saurav Bhatt</b> </p>
              </div>
              <div class="column">
             
                <p><br><b>Yoaltzin Xolalpa Briseno </b> </p>
              </div>
            </div>
            <div class="groupRow">
            </div>
            <div class="groupRow">
              <div class="column">
                
                <p><br><b>Hassan Ali </b> </p>
              </div>
           
              
          
              
                <p><br><b>Shahzaib Mansoor</b> </p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    

</div>


<%- include('partials/bottom_nav'); -%>
  <%- include('partials/footer'); -%>