<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class='container-fluid'>
  <div class="row outerDiv">
    <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block">
      
    </div>
    
      <main class="container">
        <div style="position:relative;">

         
            <h1 class="fill fw-bold" style="text-align:center; color: rgba(36, 111, 80, 0.56);">Team Members </h1>
            <br>
            <br>
              <!-- hexagono -->
              <ul id="categories" class="clr">
                   <li class="pusher"></li>
                     <li>
                         <div >
                            <img id="I1" src="../Assets/images/hassey.jpeg"  alt="Hassan Ali."/>
                            <h1>Hassan Ali</h1>
                            <p>Security Programmer</p>
                          </div>
                      </li>
                  </li>
                  <li class="pusher"></li>
                  <li>
                      <div >
                         <img id="I2" src="../Assets/images/saurav.jpeg"  alt="Saurav Bhatt."/>
                         <h1>Saurav Bhatt</h1>
                         <p>Database Programmer  </p>
                       </div>
                   </li>
               </li>
               <li class="pusher"></li>
                     <li>
                         <div >
                            <img id="I3" src="../Assets/images/user.png"  alt="Shahzaib Mansoor."/>
                            <h1>Shahzaib Mansoor</h1>
                            <p>Lead Software Engineer </p>
                          </div>
                      </li>
                  </li>
                  <li class="pusher"></li>
                     <li>
                         <div >
                            <img src="../Assets/images/user.png"  alt="Ade Oduneye."/>
                            <h1>Adekunle Oduneye</h1>
                            <p>Project Manager</p>
                          </div>
                      </li>
                  </li>
                  <li class="pusher"></li>
                  <li>
                      <div >
                         <img src="../Assets/images/yo.jpg"  alt="Yoaltzin Xolalpa."/>
                         <h1>Yoaltzin Xolalpa Briseno</h1>
                         <p>Web Designer </p>
                       </div>
                   </li>
               </li>
              </ul>
               <!-- hexagono -->
              
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    

</div>



<%- include('partials/bottom_nav'); -%>
  <%- include('partials/footer'); -%>