
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
}

.text {
  font-size: 20px;
  color: #907070ba;
  font-weight: 500;
}

.circle1 {
  background-color: #faefd1;
}

.circle2 {
  background-color: #f3e5f5;
}

.circle3 {
  background-color: #e5fae9;
}

.about {
  font-size: 14px;
  font-weight: 35px;
  color: #ffffff;
}

.learnmore1 {
  font-size: 18px;
  font-weight: 50px;
  color: #fec734;
}

.learnmore2 {
  font-size: 18px;
  font-weight: 50px;
  color: #fd9790;
}

.learnmore3 {
  font-size: 18px;
  font-weight: 50px;
  color: #4db6ac;
}

.circle1 .fa-chrome {
  color: #fec734;
  font-size: 40px;
}

.circle2 .fa-chrome {
  color: #fd9790;
  font-size: 40px;
}

.circle3 .fa-chrome {
  color: #42a593;
  font-size: 40px;
}

/* End */
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}


input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(122, 85, 85);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 2px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}



.navbar {
  background-color: #000000 !important;
}

.navbar-brand {
  margin-left: 10px;
}

.active {
  font-weight: 900;
  color: #a9aaae;
}
.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-item {
  margin-top: 2% !important;
}



.container {
  background-color: #ffffff !important;
}

.container-fluid {
  background-color: #ffffff !important;
}

.fill {
  color: #ffff;
  margin-top: 80px;
}

.btn1 {
  margin-top: 90px;
  padding-left: 9%;
  padding-right: 9%;
}




.cl {

  height: 120px;
  overflow: hidden;
  color: white;
}

.c1 {
  background-color: #6fc185;
}

.c2 {
  background-color: #405ee3ea;
}

.c3 {
  background-color: #6fc185;
}

.image {
  height: auto;
  float: right;
}


.loginbox {
  width: 550px;
  height: 450px;
  color: #fff;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.loginlogo {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logintitle {
  margin: 0;
  padding: 0;
  font-weight: bold;
  top: -15%;
}

.navbar-toggler-icon {
  background-color: rgb(44, 85, 218);
}

.nav-item-s {
  margin-left: 60px;
}

.navbar-text {
  color: rgb(51, 87, 206);
  margin-left: 100px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.popup:hover {
  position: relative;
  top: -25px;
  width: 100%;
  height: auto;
  display: block;
  z-index: 999;
}

.popup2:hover {
  position: relative;
  transform: scale(1.2);
  display: block;
  z-index: 999;
  cursor: pointer;
  cursor: hand;
}

.column {
  color: rgb(0, 0, 0);
}

@keyframes newsurvey {
  0% {
    color: #ff0000;
    transform: scale(1);
  }
  25% {
    color: #1663be;
    transform: scale(1.025);
  }
  50% {
    color: #104a8e;
    transform: scale(1.05);
  }
  75% {
    color: #0096ff;
    transform: scale(1.025);
  }
  100% {
    color: #0047ab;
    transform: scale(1);
  }
}

.welcome {
  animation-name: welcome;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes welcome {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.02);
  }
  15% {
    transform: scale(1.04);
  }
  20% {
    transform: scale(1.06);
  }
  25% {
    transform: scale(1.08);
  }
  30% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.08);
  }
  80% {
    transform: scale(1.06);
  }
  85% {
    transform: scale(1.04);
  }
  90% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

#swoosh {
  margin-left: -50px;
}
#swoosh {
  margin-right: -1000px;
}


/* TEAM PAGE */
*{
  margin:0;
  padding:0;
}
#categories{
  overflow:hidden;
  width:90%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  width:17.85%; 
  padding-bottom: 22.16%; 
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}

#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
	-webkit-backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
}

#categories div h1, #categories div p{
  width:90%;
  padding:0 5%;
  background-color: rgba(70, 128, 0, 0.8);
  
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-style:italic;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
	content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:95%;
  width:70%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/*EFFECT  */

#categories li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}
#fork{
  position:fixed;
  top:0;
  left:0;
  color:#000;
  text-decoration:none;
  border:1px solid #000;
  padding:.5em .7em;
  margin:1%;
  transition: color .5s;
  overflow:hidden;
}

#I1 {
  
  margin: auto 3px;
  Object-Position: Right Top;

}

#I2 {
  margin: auto 3px;
  Object-Position: center Top;
 
}

#I3 {
  margin: auto 3px;
  Object-Position: left Top;
 
}
#I4 {
  margin: auto 5px;
  Object-Position: right Top;
}

#I5 {
  margin: auto 5px;
  Object-Position: left Top;

}